@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-color: hsl(224 71% 4%);
}
img {
  max-inline-size: 100% !important;
  block-size: auto !important;
  object-fit: contain !important;
}
html {
  background-color: hsl(224 71% 4%);
  min-width: 100vw;
}
body {
  @apply text-gray-200;
}
p {
  @apply text-gray-400;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
::-webkit-scrollbar {
  width: 0px;
  background-color: rgb(92, 92, 92);
}::-webkit-scrollbar-track {
  background: hsl(224 71% 4%);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}
input[data-autocompleted] {
  background-color: transparent !important;
}

#nprogress .bar {
  /* background-color: white; */
  @apply bg-red-500;
}
